*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Arcade";
  src: url("../fonts/ARCADE_N.ttf");
}
body{
  font-family: "arial";
    background: url(../img/minesweeper.jpg) 0 0;
}
header{
  margin: 0 auto;
  width: 80%;
  height: 80px;
  background: black;
  color: white;
  display: flex;
}

#titre{
  width: 80%;
  text-align: center;
  line-height: 80px;
}
#logo{
  width: 10%;
}

#logo #imgLogo{
  padding-left: 50%;
}

.stars{
width: 300px;
height: 30px;
}

#nombreMines{
  text-align: center;
  background: black;
  color: white;
  width: 80%;
  height: 30px;
  margin: auto;
}
#chronometre{
  text-align: center;
  width: 80%;
  background: blue;
  height: 30px;
  margin: auto;
}

#chronometre #chrono{
  width: 20%;
  height: 30px;
  line-height: 30px;
  margin: auto;
  background: black;
  color: white;
}
#menu{
  margin: 0 auto;
  width: 80%;
  background: black;
  color: white;
  padding-top: 20px;
  display: flex;
}

#menu .description{
  margin-left: 20px;
}

#menu #tabMenu{
margin: auto;
  width: 60%;
  display: inline-block;
}
#menu #tabMenu tr td{
  
}

#menu #tabMenu2{
  margin: auto;
  margin-top: 20px;
  width: 30%;
  display: inline-block;
}
#tabMenu2 tr td{
  width: 25%;
  height: 25%;
}
#game{
margin: 0 auto;
background: black;
color: white;
font-family: "Arcade";
border: 10px solid black;
}

#game tr td{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

#game tr td.hidden.noflag{
  background: dimgray;
  cursor: pointer;
}

#game tr td.show.flag1{
  /* background: #ff0000; */
  background: dimgray;
  background-image: url(../img/flag1.png);
}

#game tr td.show.flag2{
  /* background: #FFFF00; */
  background: dimgray;
  background-image: url(../img/flag2.png);
}

#game tr td.show.flag3{
  /* background: #0000FF; */
  background: dimgray;
  background-image: url(../img/flag3.png);
}

#game tr td.show.flag4{
  /* background: #00FF00; */
  background: dimgray;
  background-image: url(../img/flag4.png);
}

#game tr td.show.flag5{
  /* background: #FF8000; */
  background: dimgray;
  background-image: url(../img/flag5.png);
}

#game tr td.show.flag6{
  /* background: #8000FF; */
  background: dimgray;
  background-image: url(../img/flag6.png);
}

#game tr td.show.flag7{
  /* background: #00FFFF; */
  background: dimgray;
  background-image: url(../img/flag7.png);
}

#game tr td.show.flag8{
  /* background: #FF0080; */
  background: dimgray;
  background-image: url(../img/flag8.png);
}

#game tr td.hidden{
  background-color: dimgray;
  background-image: url(../img/flag.png);
  cursor: pointer;
}

#game tr td.show{
  background-color: silver;
}



#game tr td.mauvaisDrapeau{
  background-image: url(../img/flagbarre.png);
}

#game tr td.show.finDuGame{
  background-color: silver;
  background-image: url(../img/mine.png);
}

#textJ1{
  /* background: #FF0000;
  color: white; */
  visibility: visible;
}
#textJ2{
  /* background: #FFFF00;
  color: black; */
  visibility: visible;
}
#textJ3{
  /* background: #0000FF;
  color: white; */
  visibility: hidden;
}
#textJ4{
  /* background: #00FF00;
  color: black; */
  visibility: hidden;
}
#textJ5{
  /* background: #FF8000;
  color: black; */
  visibility: hidden;
}
#textJ6{
  /* background: #8000FF;
  color: white; */
  visibility: hidden;
}
#textJ7{
  /* background: #00FFFF;
  color: black; */
  visibility: hidden;
}
#textJ8{
  /* background: #FF0080;
  color: white; */
  visibility: hidden;
}
.classement{
  background: black;
  left: auto;
  width:20%;
  height: 60vh;
  position: fixed;
  color: white;
  text-align: center;
  padding-top: 10px;
  visibility: hidden;
}

.classement #croix{
  text-align: right;

  color: white;
  margin-right: 50px
  transition: 1s;
}

.classement #croix:hover{
  color: #ff4000;
  transition: 1s;
  cursor: pointer;
}

.classement #tableauScores{
    width: 60%;
}
.classement #tableauScores tr td{
  margin: 0 auto;

}
#res1{color: #FF0000;}
#res2{color: #FFFF00;}
#res3{color: #0000FF;}
#res4{color: #00FF00;}
#res5{color: #FF8000;}
#res6{color: #8000FF;}
#res7{color: #00FFFF;}
#res8{color: #FF0080;}
